.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container {
  transition: filter 0.5s ease-out;
}

.image-container .loading {
  filter: blur(10px);
}

.image-container .loaded {
  filter: blur(0);
}